select#processes.form-select{
    max-width: 150px;
    min-width: 120px;
}

form div input{
    max-width: 90px;
}

form div.col-sm-3{
    width:fit-content;
}

#dimensionslist, #processlist{
    list-style-type: none;
}

select#processlist {
    max-width: 150px;
}
select#dimensionslist {
    max-width: 450px;
}

select#inputlist{
    max-width: 630px;
}